body {
    background-image: url("../images/background-1.jpg"), linear-gradient(rgb(219, 166, 166), rgb(0, 0, 172));
    background-size: cover;
}
.wrapper {
    /* height: 100vh; */
    position: relative;
}

nav a:hover, span:hover {
    color: #f5a90a !important;
    cursor: pointer;
}

nav .navbar-collapse {
    justify-content: center;
}

.header {
    margin: 3rem 0rem 4rem;
}

.navbar-brand {
    color: #f5a90a !important;
}

.get-name-badge p{
    z-index: 1;
    display: inline-block;
    padding: .25rem .35rem;
    border-radius: .35rem;
    background-color: #f5a90a;
    
}

.get-name-badge p::after {
    z-index: -1;
    content: '';
    margin-top: -30px;
    padding-top: 0px;
    position: relative;
    top: 20px;
    bottom: -24px;
    left: 0px;
    border-width: 31px 0px 0px 15px;
    border-style: solid;
    border-color: #f5a90a transparent;
    display: block;
    width: 0px;
}

.avatar {
    position: relative;
}

.avatar img {
    width: 70%;
    left: 15%;
}

.contact {
    margin: 3rem 0;
}

.contact a{
    text-decoration: none;
    color: #f5a90a;
    padding: 0.25rem 0.35rem;
    border: solid 2px #f5a90a;
    border-radius: .35rem;
}

.contact a:hover {
    color: black;
    background-color: #f5a90a;
}

nav span, .navbar-brand {
    font-size: 1.25rem;
}

nav span, .name, .get-name-badge, .contact, .user-logo, .wrapper-about label  {
    font-weight: bold;
    font-family: 'Merriweather', serif;
}

.social {
    position: absolute;
    right: 15%;
    bottom: -5%;
}

.contact a {
    text-decoration: none;
}

input[type=text], textarea {
    background-color: #434a50;
    border: none;
    border-bottom: #dbd8d8
}